<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Aplikasi Pendataan Barang</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
</head>
 
<body>
    <div class="container ">
        
        {% include 'nav.html' %}

        <div class="card mt-2">
            <div class="card-body">
                <h4>Profile Penulis</h4>
                <hr />
                <p>
                    Nama Mahasiswa : MADE BOY KUSUMA NUSANTARA <br />
                    NIM : (170010010)
                </p>

                <hr />
                <p>
                    Program pendataan item, dengan CRUD (Create Read Update Delete), sistem yang dibangun sudah terintegrasi dengan database MYSQL<br />
                    program dibangun dengan bahasa pemrograman Python, adapun kebutuhan dalam pembuatan program KP ini yakni :
                    <ol>
                        <li>Visual Studio Code (Text Editor)</li>
                        <li>PHPmyAdmin (Database Editor)</li>
                        <li>Apache (Web Server)</li>
                        <li>Python (Back End)</li>
                        <li>HTML (Front End)</li>
                        <li>MySQL (Database)</li>
                    </ol>
                </p>
            </div>
        </div>

        {% include 'footer.html' %}
 
    </div>
</body>
 
</html>